body {
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
}



/* All HTML5 progress enabled browsers */
progress {
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /* gets rid of default border in Firefox and Opera. */
  border: none;

  /* Dimensions */
  width: 257px;
  height: 25px;
}

progress strong {
  display: none;
}

progress,                          /* Firefox  */ 
progress[role][aria-valuenow] {
  /* Polyfill */
  background: #424242 !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
  background: #424242;
}

/*
 * Background of the progress bar value 
 */

/* Firefox */
progress::-moz-progress-bar {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="70px" height="25px"><text x="0" y="20">🎤🎵🎹</text></svg>');
  background-color: #EC407A;
}

/* Chrome */
progress::-webkit-progress-value {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="70px" height="25px"><text x="0" y="20">🎤🎵🎹</text></svg>');
  background-color: #EC407A;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
  cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}