body {
font-family: 'Roboto', sans-serif;
background-color: #2E3136;
color: #E4801E;
}

a {
text-decoration: none;
color: #87A5FF;
}

footer {
  bottom: 0;
}

.botTag {
  font-weight: 300;
}

.circular {
  border-radius: 50%;
}
